<header class="profile-header">
	<div class="profile-header-top">
		<img id="logo-image" src="assets/images/Tieto_logo_right.png">
		<div class="header-feald">
			<img id="karma-logo" src="assets/images/karma_logo.png"/>
		</div>
	 	<div class="header-feald">
			<h3>Karma Points</h3>
		</div>
	</div>
	<div class="header-navigation" data-ng-controller="NavigationController as vm">
        <ul>
            <li ng-class="{'current' : vm.currentPage == 'adminPage.applicationSettings'}"><a ng-click="vm.changePage('adminPage.applicationSettings')">Home</a></li>
            <li ng-class="{'current' : vm.currentPage == 'adminPage.shop'}"><a ng-click="vm.changePage('adminPage.shop')">Manage Shop</a></li>
        	<li ng-class="{'current' : vm.currentPage == 'adminPage.purchases'}"><a ng-click="vm.changePage('adminPage.purchases')">Purchases</a></li>
        	<div class="logout" data-ng-controller="LogoutController as vm">
				<a ng-click="vm.logout()" >Logout</a>
			</div>
        </ul>
    </div>
	
</header>