<div class="achievements-container" auto-height scrollbar data-ng-controller="AchievementsController as vm">
	<div class="achievements-header">
		<div class="achievements-icon">
			<img id="cup" src="assets/images/achievements/cup.png">
		</div><!--
	 --><div class="achievements-header-text">
			<div class="achievements-header-title">
			Achievements
			</div>
			<div class="achievements-header-small-text">
				Do your best and get what you deserve.
			</div>
		</div>
	</div>
	<div class="achievements-content">
		<div>
			<div class="achievement-entry">
				<div class="achievement-title">
					Karma Giver
				</div>
				<div class="achievement-body">
					<img src="assets/images/achievements/heart.png">
				</div>
				<div class="achievement-points">
					+{{vm.firstAchievementReward}}
				</div>
				<div ng-if="vm.claimTransfersMade && !vm.userStatistics.achievement_1" class="claim-button bar-style"
						ng-click="vm.claim(1, vm.firstAchievementReward)">
					Claim Reward
				</div>
				<div class="claim-button bar-style awarded" ng-if="vm.userStatistics.achievement_1">
					Awarded	
				</div>
				<div ng-if="!vm.claimTransfersMade" class="progress-bar" >
					<div class="full-bar"></div>
					<div class="done-bar" style="width: {{vm.progressTransfersMade}}%"></div>	
				</div>
				
			</div>
			<div class="achievement-description">
				Thank your colleagues 5 times by sending karma points this month.
			</div>
		</div>
		<div>
			<div class="achievement-entry">
				<div class="achievement-title">
					Karma Receiver
				</div>
				<div class="achievement-body">
					<img src="assets/images/achievements/hero.png">
				</div>
				<div class="achievement-points">
					+{{vm.secondAchievementReward}}
				</div>
				<div ng-if="vm.claimTransfersGotten && !vm.userStatistics.achievement_2" class="claim-button bar-style"
						ng-click="vm.claim(2, vm.secondAchievementReward)">
					Claim Reward
				</div>
				<div class="claim-button bar-style awarded" ng-if="vm.userStatistics.achievement_2">
					Awarded	
				</div>
				<div ng-if="!vm.claimTransfersGotten" class="progress-bar" >
					<div class="full-bar"></div>
					<div class="done-bar" style="width: {{vm.progressTransfersGotten}}%"></div>	
				</div>
				
			</div>
			<div class="achievement-description">
				Receive karma points from your colleagues 5 times this month.
			</div>
		</div>
		<div>
			<div class="achievement-entry">
				<div class="achievement-title">
					Points Receiver
				</div>
				<div class="achievement-body">
					<img src="assets/images/achievements/stats.png">
				</div>
				<div class="achievement-points">
					+{{vm.thirdAchievementReward}}
				</div>
				<div ng-if="vm.claimPointsGotten && !vm.userStatistics.achievement_3" class="claim-button bar-style"
						ng-click="vm.claim(3, vm.thirdAchievementReward)">
					Claim Reward
				</div>
				<div class="claim-button bar-style awarded" ng-if="vm.userStatistics.achievement_3">
					Awarded	
				</div>
				<div ng-if="!vm.claimPointsGotten" class="progress-bar" >
					<div class="full-bar"></div>
					<div class="done-bar" style="width: {{vm.progressPointsGotten}}%"></div>	
				</div>
			</div>
			<div class="achievement-description">
				 Receive {{vm.getPointsAchievement}} points this month.
			</div>
		</div>
	</div>
</div>