<div class="achievements-container" data-ng-controller="AchievementsController as vm">
	<div class="achievements-header">
		<div class="achievements-icon">
			<img id="cup" src="assets/images/cup.png">
		</div><!--
	 --><div class="achievements-header-text">
			<div class="achievements-header-title">
			Achievements
			</div>
			<div class="achievements-header-small-text">
			Do more get more zooooooooooooooooooooooooooooooodis
			</div>
		</div>
	</div>
	<div class="achievements-content" >
		
		<div class="achievement-entry">
			<div class="achievement-title">
				Karma Master
			</div>
			<div class="achievement-body">
				
			</div>
			<div class="achievement-points">
				+50
			</div>
			<div ng-if="vm.claimTrasfersMade" class="claim-button bar-style">
				CLAIM BUTTON
			</div>
			<div ng-if="!vm.claimTrasfersMade" class="progress-bar" >
				<div class="full-bar"></div>
				<div class="done-bar" style="width: {{vm.progressTrasfersMade}}%"></div>	
			</div>
		</div>
		
		
	</div>
</div>