<div class="admin-shop-container">		
	<div class="shop-item-container-intro">
		<div class="shop-item-container-title">
			Manage Tieto Shop
		</div>
		<div>
			<md-button class="add-new-item-button md-raised" type="button" 
				ng-click="nav.changePage('adminPage.addItem')">	
				Add new item
			</md-button>	
		</div>
	</div>
	<div class="shop-items" data-ng-controller="ShopItemController as sic">
		<shop-item item="item" type="'admin-shop-item'" ng-repeat="item in sic.shopItems | orderBy:'-dateAdded'"></shop-item>
	</div>
</div>