<header class="profile-header" data-ng-controller="ProfileHeaderController as vm">
    <div class="container">
        <div class="left-side header-object">
            <h3>Karma points</h3>
            <div class="navigation">
                <ul>
                    <a class="link" href="#" ><li class="current">Home</li></a>
                    <a class="link" href="#" ><li>Tieto Shop</li></a>
                </ul>
            </div>
        </div>
        <div class="profile-info header-object">
            <div class="profile-info-container">
                <img class="profile-image" src="./assets/images/profile_picture_placeholder.png"/>
                <div class="info-container" data-ng-model="vm.profileInfo">
                    <div class="info">{{vm.profileInfo.firstName}}</div>
                    <div class="info">{{vm.profileInfo.lastName}}</div>
                    <div class="info">You have: <span class="points">{{vm.profileInfo.userPoints}}</span></div>
                </div>
            </div>
        </div>
        <div class="logout header-object navigation">
        	<div data-ng-controller="LogoutController as vm">
        		<ul>
                    <a class="link" ui-sref="logout" 
                    	ng-click="vm.logout()" ><li>Logout</li></a>
                </ul>
        	</div>
        </div>
    </div>
</header>