<header class="profile-header" data-ng-controller="ProfileHeaderController as vm">
        <div class="left-side">
        	<img id="karma-logo" src="assets/images/karma_logo.png"/>
            <h3>Karma points</h3>
        </div>
        <div class="navigation">
                <ul>
                    <li class="current"><a>Home</a></li>
                    <!-- <li><a ng-click="vm.shopItems()">Tieto Shop</a></li> FOR DEMO!!!-->
                </ul>
            </div>
        <div class="profile-info">
            <div class="profile-info-container">
                <img class="profile-image" src="./assets/images/profile_picture_placeholder.png"/>
                <div class="info-container" data-ng-model="vm.profileInfo">
                    <div class="info">{{vm.profileInfo.firstName}}</div>
                    <div class="info">{{vm.profileInfo.lastName}}</div>
                    <div class="info points-info">
	                    You have: 
	                    <span class="points">{{vm.profileInfo.userPoints}}</span>
	                    	<img class="formLogoImage" src="assets/images/karma_logo.png">
                   	</div>
                </div>
            </div>
        </div>
        <div class="logout">
        	<div data-ng-controller="LogoutController as vm">
            	<a ng-click="vm.logout()" >Logout</a>
        	</div>
        </div>
</header>