<div class="user-profile-main-container" ng-controller="OtherProfileInfoController as vm">
	<div class="user-profile-photo-container">
		<img class="user-profile-photo" ng-src="{{vm.user.image}}">
	</div>
	
	<div>
		<h3 class="user-profile-first-and-last-names">{{ vm.user.firstName }} {{ vm.user.lastName }}</h3>
	</div>
	
	<div ng-if="!vm.givePointsBlock">
		<data-ng-include src="'app/otherProfileInfo/otherProfileInfoBlock.tmpl.html'"></data-ng-include>
	</div>
	<div ng-if="vm.givePointsBlock">
		<data-ng-include src="'app/otherProfilePointsTransfer/otherProfilePointsTransfer.tmpl.html'"></data-ng-include>
	</div>
	
	<div class="user-profile-line user-profile-line-centered" ng-if="!vm.givePointsBlock">
		<span>
			<a ng-click="vm.goToGivePoints()">Give karma points</a>
		</span>
	</div>
	
	<hr>
	
	
</div>