<div class="{{vm.type}}"  data-ng-controller="ShopItemController as sic">
	<div class="shop-item-image">
		<img alt="sketis" ng-src="{{sic.decodeImage(vm.item.image)}}">
	</div>
	<div data-ng-controller="NavigationController as nav">
		<div class="shop-item-title" ng-if="vm.type === 'admin-shop-item'">
			{{vm.item.name}}	
		</div>
		<div class="shop-item-title" ng-click="nav.changePage('userPage.item')" ng-if="vm.type === 'shop-item'">
			{{vm.item.name}}	
		</div>
	</div>
	<div class="shop-item-bottom-container">
		<div class="shop-item-price">
			<div class="shop-item-price-value">
				{{vm.item.value}}
			</div>
			<div class="shop-item-price-logo">
				<img alt="sketis" src="assets/images/karma_logo.png">
			</div>
		</div>
		<div class="shop-item-bottom" data-ng-controller="NavigationController as nav">
			<div class="shop-item-edit" data-ng-if="vm.type === 'admin-shop-item'">
				<md-button class="shop-item-edit-button md-raised" 
					ng-click="nav.changePageWithParams('adminPage.editItem', {'id': vm.item.id})">
					Edit
				</md-button>
			</div>
			<div class="shop-item-buy" data-ng-if="vm.type === 'shop-item'">
				<md-button class="shop-item-buy-button md-raised" ng-click="sic.showBuyConfirmation(vm.item, $events)">
					Buy
				</md-button>
			</div>
		</div>
	</div>
</div>