<div class="admin-container-left">
	<div class="admin-navigation-header">
		<img class="admin-image" src="./assets/images/administrator.png"/>
		<h3>Administrator</h3>
	</div>
	<div class="admin-navigation-container" data-ng-controller="AdminNavigationController as vm">
		<a href="#" class="admin-navigation-button"
			ng-click="vm.changePage('adminPage.applicationSettings')"
			ng-class="{'admin-navigation-selected' : vm.currentPage == 'adminPage.applicationSettings'}">
			<div class="admin-navigation-button-container"><span>Manage points</span></div>
		</a>
		<a href="#" class="admin-navigation-button"
			ng-click="vm.changePage('adminPage.shopSettings')"
			ng-class="{'admin-navigation-selected' : vm.currentPage == 'adminPage.shopSettings'}">
			<div class="admin-navigation-button-container"><span>Manage Tieto Shop</span></div>
		</a>
		<a href="#" class="admin-navigation-button"
			ng-click="vm.changePage('adminPage.valueGroupsSettings')"
			ng-class="{'admin-navigation-selected' : vm.currentPage == 'adminPage.valueGroupsSettings'}">
			<div class="admin-navigation-button-container"><span>Manage Value Groups</span></div>
		</a>
	</div>
</div>