<div data-ng-controller="LeaderboardController as vm" >
	<h4 align="center">Leaders of the month</h4>
	<div ng-if="!vm.leaders.length">Keep calm and wait for karma...</div>
	<table id="leaderboard-table" ng-if="vm.leaders.length">
		<thead>
			<tr>
				<td>Nr.</td>
				<td>Name</td>
				<td>Points</td>
			</tr>	
		</thead>
		<tbody>
		  <tr ng-repeat="leader in vm.leaders | orderBy:['-points', 'name']">
		    <td>{{ $index + 1 }}</td>
		    <td>{{ leader.name }}</td>
		    <td>{{ leader.points }}</td>
		  </tr>
		</tbody>
	</table>
	<div><button id="reload-leaders" ng-click="vm.updateLeaders()">Reload leaders</button></div>
</div>