
<div class="news-feed-container" data-ng-controller="NewsFeedCurrUserController as vm" >
<!-- 	<div class="news-feed-header"> -->
<!-- 		<h2>Newsfeed</h2>	 -->
<!-- 	</div> -->
	<div class="news-feed-content" auto-height scrollbar when-scrolled="vm.loadMoreNews()">
		<div class="news-entry" ng-repeat="entry in vm.shownNewsFeed">
			<div class="reciever-photo-info">
				<div class="reciever-photo-container">
					<img class="reciever-photo link-cursor" ng-src="{{entry.toImage}}"
						ng-click="nav.changePageWithParams('userPage.profile.newsfeed', {'id': entry.toUserID})">
				</div>
				<div class="recieved-points">
					+{{entry.points}}
				</div>
			</div><!--
		 --><div class="entry-info">
				<div class="transfer-details">
					<b ng-click="nav.changePageWithParams('userPage.profile.newsfeed', {'id': entry.toUserID})"
							class="link-cursor">
						{{entry.toFirstName + " " + entry.toLastName }}
					</b>
						received karma points from 
					<b ng-click="nav.changePageWithParams('userPage.profile.newsfeed', {'id': entry.fromUserID})"
							class="link-cursor">
						{{entry.fromFirstName + " " + entry.fromLastName }}
					</b>
			 	</div><!--
			 --><div class="transfer-category">
					{{entry.category.name}}
				</div><!--
			 --><div class="transfer-comment">
					"{{entry.comment}}"
				</div>
			</div><!--
		 --><div class="sender-photo-info">
		 		<div class="info-date">
		 			{{entry.date}}
		 		</div>
		 		<div class="sender-photo">
		 			<span class="helper"></span>
		 			<img ng-src="{{entry.fromImage}}" class="link-cursor"
		 				ng-click="nav.changePageWithParams('userPage.profile.newsfeed', {'id': entry.fromUserID})">
		 		</div>
			</div>
		</div>
	</div>
</div>