<div class="item-description-container" ng-controller="ItemDescriptionController as vm">
	<div class="item-photo-block">
		<img class="item-image" src="assets/images/sketis.jpg">
	</div><!--
 --><div class="item-description-block">
		<div class="item-Name">Tieto notebook</div>
		<div class="item-availability">In stock</div>
		<div class="item-amount">50</div>
		<div>Description:</div>
		<div class="item-description">
			Very good......
		</div>
		<md-button class="md-raised" value="Buy" ng-click="vm.buy()">Buy</md-button>
		<md-button ng-controller="NavigationController as vm" class="md-raised" value="Go to Tieto shop"
			ng-click="vm.changePage('userPage.shop')">Go to Tieto Shop</md-button>
	</div>
</div>