<div class="item-description-container" ng-controller="ItemDescriptionController as vm">
	<div class="item-photo-block">
		<img class="item-image" ng-src={{vm.getImage()}}>
	</div><!--
 --><div class="item-description-block" ng-model="vm.itemInfo">
		<div class="item-Name">{{vm.itemInfo.name}}</div>
		<div ng-if="vm.itemInfo.amount > 0">In stock</div>
		<div ng-if="vm.itemInfo.amount == 0">Not in stock</div>
		<div class="item-amount" ><b>Quantity: </b>{{vm.itemInfo.quantity}}</div>
		<div class="item-price"><b>Price: </b>{{vm.itemInfo.value}}</div>
		<div><b>Description:</b></div>
		<div class="item-description">
			{{vm.itemInfo.description}}
		</div>
		<div ng-controller="ShopItemController as sic">
			<md-button class="md-raised" value="Buy" ng-click="sic.showBuyConfirmation(vm.itemInfo, $events)" 
				ng-disabled="vm.itemInfo.amount == 0 || vm.itemInfo.price > vm.profileInfo.userPoints">Buy</md-button>
			<md-button ng-controller="NavigationController as vm" class="md-raised" value="Go to Tieto shop"
				ng-click="vm.changePage('userPage.shop')">Go to Tieto Shop</md-button>
		</div>
		
	</div>
</div>