<div class="news-feed-header">
	<h2>Purchase history</h2>
</div>
<div class="purchased-item-entry-header">
	<div class="admin-purchased-item-received">
		<span>Received</span>
	</div><!--
 --><div class="admin-purchased-item-photo-container">
		<!-- EMPTY -->
	</div><!--
 --><div class="admin-purchased-item-name">
		<div>Product name</div>
	</div><!--
 --><div class="admin-purchased-item-price">
		<span>Karma points</span>
	</div><!--
 --><div class="admin-purchased-item-buyer">
		<span>Buyer's name</span>
	</div><!--
--><div class="admin-purchased-item-date">
		<span>Date</span>
   </div>
</div>

<div class="admin-purchase-history-container" data-ng-controller="AdminPurchaseHistoryController as vm" >	
	<div class="admin-puchased-item-content">
		<div class="purchased-no-items" ng-if="vm.currUserPurchases == ''">
			<br><br>
			<h3>Nobody purchased any items yet!</h3>
		</div>
		<div class="admin-purchased-item-entry" ng-class="{'checked' : purchase.received }" ng-repeat="purchase in vm.purchases | orderBy:['received','-dateAdded']">
			<div class="admin-purchased-item-received">
				<md-checkbox ng-model="purchase.received" ng-click="vm.togglePurchase(purchase.purchaseId)"></md-checkbox>
			</div><!--
 		 --><div class="admin-purchased-item-photo-container">
				<img class="purchased-item-photo" ng-src="{{::vm.decodeImage(purchase.image)}}">
			</div><!--
		 --><div class="admin-purchased-item-name">
				<span>{{::purchase.name}}</span>
			</div><!--
		 --><div class="admin-purchased-item-price">
				<span>{{::purchase.price}}</span><img src="assets/images/karma_logo.png" class="purchased-item-karma-logo">
			</div><!-- 
		 --><div class="admin-purchased-item-buyer">
				<span>{{::purchase.buyersName}}</span>
			</div><!--
		 --><div class="admin-purchased-item-date">
				<span>{{::purchase.dateToDisplay}}</span>
			</div>
		</div>
	</div>
</div>