<div class="login-container" data-ng-controller="LoginController as vm">
	<form name="login-form" data-ng-submit="vm.submit()">
	
		<div class="login-email-input" >
				<input type="text" id="email" name="emailInput" placeholder="Email"
					data-ng-model="vm.credentials.email">
		</div>
		
		
		<div class="login-email-input">
				<input type="password" id="password" name="passwordInput" placeholder="Password"
					data-ng-model="vm.credentials.password">
		</div>
		
		<input type="submit" value="Log in">
		<a ui-sref="registration">Register</a>
	</form>
</div>