.add-item-container {
	width: 60%;
	margin: 0 auto;
}

.add-item-photo-container {
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

/* Edit item container */

.edit-item-picture-container {
	background-color: green;
	width: 300px;
	display: inline-block;
}