#logo-image-admin {
	position: absolute;
	top: 45px;
	right: 0px;
	height: 90px;
	width: 90px;
}

.admin-container-left {
	width: 20%;
	display: inline-block;
	float: left;
	height: 100%;
	overflow: auto;
	position: fixed;
	border-right: 1px solid #0065a0;
}

header.admin-header  {
    background-color: #62B3E5;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    height: 131px;
    color: #ffffff;
	text-align: left;
}

.admin-header h3 {
    display: inline-block;
    font-size: 26px;
}

.admin-h3 {
	font-weight: normal;
}

.admin-application-settings-container > h2 {
    font-weight: normal;
}

.admin-navigation-button-container {
	width: 80%;
	min-height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	text-align: center;
	border-bottom: 1px solid black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
	vertical-align: bottom;
}

.admin-navigation-button {
	color: black;
	text-decoration: none;
}

.admin-navigation-selected {
	color: #d75f00;
}

.admin-navigation-selected div.admin-navigation-button-container {
	border-color: #d75f00;
}

.admin-container-main-container {
	width: 80%;
	display: inline-block;
	float: right;
}

 .admin-container-main {
 	padding: 20px 40px 0 40px;
 }
 
 .admin-navigation-header {
 	height: 50px;
 	margin-bottom: 30px; 
 	text-align: center;
 	width: 90%;
 	margin-left: auto;
 	margin-right: auto;
 	display: table;
 }
 
 .admin-image {
 	float: left;
 	width: 40px;
 	height: 40px;
 	margin-left: 5px;
 	margin-top: 10px;
 }
 
 .image-padding {
 	padding-right: 30px;
 	width: 55px;
 	height: 55px;
 }
 
 .logout-container {
 	width: 100px;
 	font-size: 20px;
 	margin-top: 10px;
 	vertical-align: bottom;
 	display: inline-block;
 }
 
 .karma-logo-container {
 	width: 85%;
 	display: inline-block;
 }
 
 a.admin-header-link {
 	color: white;
 	text-decoration: none;
 	cursor: pointer;
 }