 .admin-category-settings * {
	vertical-align: top;
}
 
 .admin-category-settings {
 	vertical-align: top;
 	display: inline-block;
	width: 45%;
	float: right;
 }

.settings-title {
/* 	text-align: center; */
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
    font-weight: 900;
}

.new-category-field > div {
	display: inline-block;
}

.new-category-field {
	margin-bottom: 20px;
/* 	text-align: center; */
}

.category-input {
	width: 300px;
	text-align: left;
}

.category-add-button {
	margin: 7px 0px 0px 30px;
}

.category-entry > div {
	display: inline-block;
}

.category-entry {
/* 	text-align: center; */
	margin-bottom: 10px;
}


.category-name{
	background-color: white;
	border: 1px solid #AAA;
/* 	box-shadow: 1px 1px 6px #AAA; */
	border-radius: 4px;
	padding: 5px 20px;
	width: 300px;
	text-align: center;
	font-size: 20px;
	word-wrap: break-word;
}

.delete-button {
	font-size: 30px;
	margin-left: 15px;
	vertical-align: middle;
	cursor: pointer;
	color: #CCC;
}

.delete-button:hover {
	color: #B11313;
}