.item-description-container > div {
	display: inline-block;
	width: 50%;
	height: 500px;
	vertical-align:top;
	padding-top: 30px;
}

.item-Name {
	font-size: 40px;
	margin-bottom: 30px;
}

.item-amount {
	margin-bottom: 18px;
}

.item-price {
	margin-bottom: 18px;
}

.item-description {
	font-style: italic;
	padding-top: 8px;
	padding-left: 20px;
	min-height: 100px;
}

.item-description {
	padding-bottom: 10px;
}

.item-photo-block {
	text-align: center
}

.item-image {
	width: 80%;
	height: 100%;
}