.login-form-container {
    width: 400px;
    height: 200px;
    float:right;
    margin-right: 120px;
    margin-top: 140px;
}

.login-buttons {
	text-align: center;
}

#superContainer {
    
	/*margin-top:131px;*/
	background-image: url("../images/login_background_woman.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
}

.login-messge {
	padding-bottom: 20px;
	font-size: 30px;
}