.login-form-container {
    width: 400px;
    height: 200px;
    float:right;
    margin-right: 120px;
    margin-top: 140px;
}

.login-page-container {
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.login-buttons {
	text-align: center;
}

#superContainer {
    
	/*margin-top:131px;*/
	background-image: url("../images/login_background_woman.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
}

.login-messge {
	padding-bottom: 20px;
	font-size: 30px;
}
#about {
	background-image: url("../images/about-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 2164px;
	padding-top: 2015px;*/
	width: 100%;
	text-align: center;
}

#about img {
	width: 100%;
	visibility: hidden;
}


footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: #206AAA; /*#155184;*/
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    z-index: 2;
}

footer button {
	background-color: #206AAA;
	border: 2px solid white;
	color: white;
	margin-left: 50px;
	height: 30px;
	box-shadow: 1px 1px 4px #444;
}

footer button span {
	vertical-align: middle;
}

footer button .button-image {
	height: 15px;
	margin-left: 10px;
}

#about .join-button {
	text-transform: none;
	font-size: 19px;
	min-width: 235px;
	min-height: 42px;
	margin-bottom: 120px;
}