header.profile-header {
    background: #62B3E5;
    padding: 10px 10px 0 10px;
    font-size: 26px;
    font-weight: bold;
    height: 125px;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #444;
    padding-top: 0px;
}

/* -------------------------- */

.header-feald {
	display: inline-block;
}

.profile-header-top {
	padding-top: 12px;
	width: 100%;
}

.profile-header-top h3 {
	margin-top: 20px;
    margin-bottom: 0px;	
}

.profile-header-navigation {
	width: 100%;

}

.profile-header-user-image {
	width: 30px;
    height: 30px;
}

.header-search-feald {
	width: 450px;
	display: inline-block;
	width: calc(100% - 715px);
}

.profile-header-top > * {
	vertical-align: top;
}

.header-profile-feald {
	width: 300px;
	display: inline-block;
	margin-top: 10px;
}

.header-details-name {
	font-size: 18px;
}

.header-details-small {
	font-size: 14px;
}

.profile-header-bottom {
	vertical-align: bottom;
}

.header-navigation {
	vertical-align: bottom;
}

.profile-header .header-navigation li {
    margin-top: 0px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
    text-align: center;
	padding-bottom: 10px;
	font-size: 18px;
}

.profile-header ul {
	margin-top: 0px;
}

.profile-header-logout-div {
	vertical-align: top;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.profile-header .header-navigation li.current {
	color: orange;
	border-bottom: 2px solid orange;
}

.profile-header .header-navigation a {
    display: inline-block;
    cursor: pointer;
    outline:0;
}

.profile-header .header-navigation a:hover {
    display: inline-block;
}

.header-points-alignment {
    margin-left: 38px;
}

/* -------------------------- */

.profile-header .left-side,
.profile-header .navigation,
.profile-header .profile-info {
	width: 30%;
/* 	display: inline-block; */
}

.profile-header .profile-info {
	vertical-align: top;
	padding-bottom: 10px;
}

.profile-header .navigation {
	vertical-align: bottom;
}

.profile-header .logout {
	width: 8%;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 10px;
	cursor: pointer;
}

.profile-header .logout:hover {
	color: #ffbe85;
}

.profile-header .navigation li {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
    text-align: center;
	padding-bottom: 10px;
}

.profile-header .navigation li.current {
	color: orange;
	border-bottom: 2px solid orange;
}

.profile-header .navigation a {
    display: inline-block;
    cursor: pointer;
    outline:0;
}

.profile-header .navigation a:hover {
    display: inline-block;
}

.profile-header .profile-info .profile-info-container .info {
    text-align: left;
    margin: 5px 0;
}

.profile-header .profile-info .profile-info-container .info-container {
    height: 80%;
    font-size: 16px;
	display: inline-block;
}

.profile-header .profile-info .profile-info-container .profile-image {
    height: 20px;
    width: 20px;
    display: inline-block;
}



.left-side h3 {
	display: inline-block;
	font-size: 26px;
}

.navigation ul {
	margin: 0;
	padding: 0;	
}

.navigation, .logout {
	font-size: 16px;
}