header.profile-header {
    background: #62B3E5;
    padding: 10px 10px 0 10px;s
    font-size: 26px;
    font-weight: bold;
    height: 115px;
    color: #ffffff;
}


.profile-header .left-side,
.profile-header .navigation,
.profile-header .profile-info {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
/* 	height: 100px; */
}

.profile-header .navigation {
	vertical-align: bottom;
}

.profile-header .logout {
	width: 8%;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 10px;
	cursor: default;
}

.profile-header .logout:hover {
	color: #ffbe85;
}

.profile-header .navigation li {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
/*     width: 50%; */
    vertical-align: bottom;
    width: 100px;
    background-color: #9acaeb;
    text-align: center;
	padding: 10px 0;
	border-left: 1px solid #C4C4C4;
	border-top: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	
}

.profile-header .navigation li.current {
	background-color: white;
	color: black;
	border-left: 1px solid #CFCFD1;
	border-top: 1px solid #CFCFD1;
	border-right: 1px solid #CFCFD1;
}

.profile-header .navigation a {
    display: inline-block;
    cursor: default;
}

.profile-header .navigation a:hover {
    display: inline-block;
}

.profile-header .profile-info .profile-info-container .info {
    text-align: left;
    margin: 5px 0;
}

.profile-header .profile-info .profile-info-container .info-container {
    height: 80%;
    font-size: 16px;
	display: inline-block;
}

.profile-header .profile-info .profile-info-container .profile-image {
    height: 60px;
    width: 60px;
    display: inline-block;
}

.left-side h3 {
	display: inline-block;
	font-size: 26px;
}

.navigation ul {
	margin: 0;
	padding: 0;	
}