
.purchased-item-entry {
	width: calc(100% - 20px);
	/* 	height: 170px; */
	margin-bottom: 0px;
	border-bottom: 1px solid #AAA;
	padding-top: 10px;
    padding-bottom: 10px;
}

.purchased-item-entry-header {
	width: calc(100% - 20px);
    /* height: 170px; */
    margin-top: 8px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EEE;
}
.purchased-item-entry-header > div {
	display: inline-block;
	vertical-align: middle;
/* 	height: 170px; */
}

.purchased-item-entry > div {
	display: inline-block;
	vertical-align: middle;
/* 	height: 170px; */
}

.purchased-item-entry > span {
	vertical-align: middle;
}

.purchased-item-photo-container {
	width: 20%;
}

.purchased-item-name {
	width: 30%;
}

.purchased-item-price {
	width: 35%;
}

.purchased-item-date {
	width: 15%;
}