.purchased-no-items h3 {
	font-weight: normal;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.purchased-item-entry {
	width: calc(100% - 20px);
    margin-bottom: 0px;
    border-bottom: 1px solid #AAA;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.purchased-item-entry-header {
	width: calc(100% - 50px);
    /* height: 170px; */
    margin-top: 8px;
    border: 1px solid #AAA;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
}
.purchased-item-entry-header > div {
	display: inline-block;
	vertical-align: middle;
/* 	height: 170px; */
}

.purchased-item-entry > div {
	display: inline-block;
	vertical-align: middle;
/* 	height: 170px; */
}

.purchased-item-entry > span {
	vertical-align: middle;
}
.purchased-item-photo {
	width: 150px;
	height: 150px;
}

.purchased-item-photo-container {
	width: 20%;
}

.purchased-item-name {
	width: 30%;
}

.purchased-item-name > span {
	color: #F78D2D;
}

.purchased-item-price {
	width: 35%;
}

.purchased-item-date {
	width: 15%;
}

.purchased-item-karma-logo {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

/*  ADMIN PURCHASE HISTORY*/

.admin-purchased-item-entry {
	width: 100%;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
	border: 2px solid #FF8383;
	box-shadow: 2px 2px 5px #FF8383;
	height: 178px;
	transition: all 1s ease;
}

.admin-purchase-history-container {
	width: calc(100% - 50px);
    /* height: 170px; */
    margin-top: 8px;
/*     border: 1px solid #AAA; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.admin-purchased-item-entry .slider.closed {
	max-height: 0;
}

.admin-purchased-item-received {
	width: 7%;
}

.admin-purchased-item-photo-container {
	width: 15%;
}

.admin-purchased-item-name {
	width: 28%;
	padding: 0px 20px;
	word-break: normal;
	font-size: 20px;
	text-align: center;
}

.admin-purchased-item-name purchase.received> span {
	color: #F78D2D;
}

.admin-purchased-item-price {
	width: 15%;
	text-align: center;
	font-size: 25px;
}

.admin-purchased-item-buyer {
	width: 25%;
	text-align: center;
}

.admin-purchased-item-date {
	width: 10%;
	text-align: center;
}

.admin-puchased-item-content {
    padding: 0 15px;
    padding-right: 0px;
    padding-left: 0px;
}

.admin-purchased-item-entry > div {
	display: inline-block;
	vertical-align: middle;
}

.checked {
	border: 2px solid #AAA;
	box-shadow: 2px 2px 5px #AAA;
}

.moving {
	background-color: #ba9393;
	border-color: #ba9393;
	border-shadow:2px 2px 5px #ba9393;
	opacity: 0;
}

.purchased-item-entry-header * {
	font-size: 15px !important;
}