
.shop-item, .admin-shop-item {
	width: 160px;
/* 	background-color: #BDBDBD; */
	margin: 15px;
	display: inline-block;
	border-radius: 10px;
 	box-shadow: 1px 1px 5px #AAA; 
}

.shop-item {
	height: 220px;
}

.shop-item-container {
	width: 100%;
	border-radius: 10px;
}

.shop-item-container > div{
	display: inline-block;
}

.shop-item-image {
	width: 130px;
	height: 130px;
	margin: 10px auto;
}

.shop-item-image img{
	max-width: 100%;
	max-width: 100%;
}


.shop-item-title {
	margin: 0px 10px 5px 10px;
	text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.shop-item-price{
	margin: 0px 10px 5px 10px;
	text-align: center;
	font-weight: bold;
}

.shop-item-price > * {
	display:inline-block;
	vertical-align: middle;
}

.shop-item-buy-button {
	margin: 0px 10px 5px 10px;
}

.shop-item-price img {
	max-width: 30px;
}

.shop-item-container-intro {
	width: 100%;
	padding-top: 10px;
	padding-left: 25px;
}

.shop-item-container-title {
	font-size: 1.7em;
	color: #FF7519;
	font-style: italic;
}

.shop-item-container-sentence {
	font-size: 0.8em;
	font-style: italic;
}

 .shop-item-edit-button {
 	min-height: auto;
 	line-height: inherit;	
 }
 
 .shop-item-edit {
 	width: 100%;
 	text-align: center;
 }
 
 .admin-shop-item {
 	height: 260px;
 }