
.shop-item, .admin-shop-item {
	width: 180px;
	margin: 15px;
	display: inline-block;
	border-radius: 10px;
 	box-shadow: 1px 1px 15px #AAA; 
 	height: 240px;
}

.shop-item:hover, .admin-shop-item:hover {
 	box-shadow: 1px 1px 3px #AAA; 
 	-webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.shop-item-container {
	width: 100%;
	border-radius: 10px;
}

.shop-item-container > div{
	display: inline-block;
}

.shop-item-image {
	width: 150px;
	height: 150px;
	margin: 10px auto;
}

.shop-item-image img{
	max-width: 100%;
	max-width: 100%;
}


.shop-item-title {
	margin: 0px 10px 5px 10px;
	text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.shop-item-title:hover {
/*     color: gray; */
} 

.shop-item-price {
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.shop-item-price > * {
	display:inline-block;
	vertical-align: middle;
}

.shop-item-price img {
	max-width: 30px;
}

.shop-item-container-intro {
	width: 100%;
	padding-top: 10px;
	padding-left: 25px;
}

.shop-item-container-title {
	font-size: 2.5em;
	color: #FF7519;
	font-style: italic;
}

.shop-item-container-sentence {
	font-size: 1.4em;
	font-style: italic;
}

 .shop-item-edit-button, .shop-item-buy-button {
 	min-height: auto;
 	line-height: inherit;	
 	margin-bottom: 5px;
	min-width: auto;
 }
 
 .shop-item-bottom {
 	width: 100%;
 	text-align: center;
 	display: inline-block;
 	width: 50px;
 }
 
 .shop-item-bottom-container {
 	text-align: center;
 }
 
 .shop-item-image-image {
    width: 150px;
    height: 150px;
}