header {
    background: #62B3E5;
    padding: 40px;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#logo-image {
    position: absolute;
    right: 20px;
    top: 9px;
    height: 100px;
    width: 100px;
}

#karma-logo {
    position: absolute;
    left: 20px;
    top: 9px;
    height: 100px;
}

/*  154, 202, 235 */

header > span {
	display: block;
}

body {
	color: #333;
}

.header-low {
	font-size: 16px;
}

.response-block {
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
}

#comment {
	resize: none;
}

#comment-label {
	vertical-align: top;
}

.error {
	color: red;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

md-input-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px 2px 5px;
}

.success-block {
	color: green;
	text-align: right;
}

.error-block {
	color: red;
	text-align: right;
}

.main-container {
	vertical-align: top;
    margin: 0px auto;
    width: 100%;
}

/* -----LEADERBOARD----- */

#leaderboard-table thead {
	color: #7b7b7b;
	text-align: center;
}

#leaderboard-table tbody td {
	padding-bottom: 7px;
	padding-top: 7px;
	border-collapse: collapmargin: 0 auto;se;
	border-bottom: solid 1px #d2d2d2;
	text-align: left;
}

.leaderboard-table-points {
	text-align: center !important;
}





/* -----LEADERBOARD----- */
/* -----FOOTER----- */

footer {
	margin-top:"1px";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    background: #62B3E5;
    color: #ffffff;
    text-align: right;
    padding: 20px;
    display:none;
}

button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
    color: rgba(255,255,255,0.87);
    background-color: #9acaeb !important;
}

button.md-default-theme.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled] {
    background-color: rgba(0,0,0,0.12) !important;
}

md-input-container.md-default-theme .md-input {
	border-color: #A3A3A3;
}

.md-button.md-primary.md-raised{
	background-color: #9acaeb !important;
}

/* md-input-container.md-default-theme.md-input-invalid .md-input { */
/*     border-color: rgba(0,0,0, 0.12); */
/* } */

#container {
   min-height:100%;
   position:relative;
}

.md-autocomplete-suggestions.md-default-theme li:hover, .md-autocomplete-suggestions.md-default-theme li.selected{
	background-color: #CBE2E2;
}

md-input-container label:not(.md-no-float) {
	order: 0;
}margin: 0 auto;

md-autocomplete{
	box-shadow: 0px 0px 0px #888888;	
}

md-input-container.md-default-theme .md-input{
	width: 300px;
}

md-autocomplete button{
	top: 5px;
}

md-input-container .md-input {
    color: rgba(0, 0, 0, 0.87);
    border-color: rgba(0, 0, 0, 1) !important;
  
}
header .title {
	margin-bottom:15px;
	font-size: 35px;
}

a.md-button.md-raised,
.md-button.md-raised {
	background-color: #f78d2d !important;
	color: white;
}

a.md-button.md-raised:hover,
.md-button.md-raised:hover {
	background-color: #ffbe85 !important;
}
