header {
    background: #62B3E5;
    padding: 50px;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}



header > span {
	display: block;
}

.header-low {
	font-size: 16px;
}
.points-form-input  {
	text-align: left;
	color: #000;
}

.points-form-input label {
	text-align: left;
	color: #000 !important;
}

.points-form-submit {
	text-align: right;
	margin: 10px;
}
.points-form-main {
	width: 100%;
	text-align: center;
}

.points-form-container {
	width: 57%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#comment {
	resize: none;
}

#comment-label {
	vertical-align: top;
}

.error {
	color: red;
	text-align: right;
}

.success-block {
	color: green;
	text-align: right;
}

.error-block {
	color: red;
	text-align: right;
}

.main-container {
	vertical-align: top;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.main-container-left {
	vertical-align: top;
	display: inline-block;
    margin: 0px auto;
    width: 66%;
}

.main-container-right {
	vertical-align: top;
	display: inline-block;
    margin: 0px auto;
    width: 32%;
}

#leaderboard-table {
	margin: auto;
	width: 80%;
}

#leaderboard-table, td {
	border-collapse: collapse;
	border: 0px solid black;
	text-align: left;
}

footer {
    background: palevioletred;
    padding: 20px;
    margin-top: 20px;
}

#registration-form {
	display: none;
} 

/* md-input-container.md-default-theme.md-input-invalid .md-input { */
/*     border-color: rgba(0,0,0, 0.12); */
/* } */