	<div class="points-form-main">
		<div class="points-form-container" data-ng-controller="PointsTransferInfoController as vm"
      data-ng-submit="vm.submit()">
			<form name="pointsForm" id="points-form" novalidate>
				<legend>Send your karma points</legend>
				<span ng-show="pointsForm.$invalid" style="color:red">Wrong information</span>
				<div class="points-form-input">
					<label>From:</label>
					<input name="fromInput" type="text" id="from" 
							data-ng-model="vm.transferInfo.from"
							required>
				</div>
				<div class="points-form-input">
					<label>To:</label>
					<input name="toInput" type="text" id="to" 
						data-ng-model="vm.transferInfo.to"
						required>
				</div>
				<div class="points-form-input">
					<label>Score:</label>
					<input name="pointsInput" type="text" id="points"
						data-ng-model="vm.transferInfo.points"
						required>
				</div>
				<div class="points-form-submit">
					<input type="submit" value="Award!" ng-disabled="pointsForm.$invalid">
				</div>
			</form>
		</div>
	</div>
