	<div class="points-form-main">
		<div class="points-form-container" data-ng-controller="PointsTransferInfoController as vm"
      data-ng-submit="vm.submit()">
      <h4>Send your karma points</h4>
			<form name="pointsForm" id="points-form" novalidate>
				<span ng-show="pointsForm.$invalid" style="color:red">Wrong information</span>
				<div class="points-form-input">
					<label for="from">From:</label>
					<input name="fromInput" type="text" id="from" 
							data-ng-model="vm.transferInfo.fromUser"
							required>
				</div>
				<div></div>
				<div class="points-form-input">
					<label for="to">To:</label>
					<input name="toInput" type="text" id="to" 
						data-ng-model="vm.transferInfo.toUser"
						required>
				</div>
				<div></div>
				<div class="points-form-input">
					<label for="points">Score:</label>
					<input name="pointsInput" type="text" id="points"
						data-ng-model="vm.transferInfo.points"
						required>
				</div>
				<div></div>
				<div class="points-form-input">
					<label for="comment">Comment:</label>
					<textarea name="comment" id="comment" rows="8" cols="25">Comment your friend!</textarea>
				</div>
				<div></div>
				<div class="points-form-submit">
					<input type="submit" value="Award!" ng-disabled="pointsForm.$invalid">
				</div>
			</form>
		</div>
	</div>
