<div class="category-settings-container" data-ng-controller="AdminCategorySettings as vm">
	<div class="settings-title">
		Category configuration
	</div>
	<div class="settings-content">
		<form name="vm.addCategory" id="points-form" novalidate data-ng-submit="vm.saveCategory()">
			<div class="new-category-field">
				<div class="category-input">
					<md-input-container>
						<label for="category">New Category</label>
						<input id="category" name="categoryName" ng-maxlength="30"
							required ng-model="vm.newCategoryName">
					</md-input-container>
					<div ng-messages="vm.addCategory.categoryName.$error" ng-if="vm.addCategory.categoryName.$dirty">
						<div class="error" ng-message="maxlength">Name is too long</div>
						<div class="error" ng-message="required">Field is required</div>
					</div>
				</div>
				<div class="category-add-button">
					<md-button class="md-raised" type="submit" ng-disabled="vm.addCategory.$invalid">ADD</md-button>
				</div>
			</div>			
		</form>
		<div class="category-entry" ng-repeat="category in vm.categories">
			
			<div class="category-name">
				{{category.name}}
			</div>
			<div class="delete-button" ng-click="vm.deleteCategory(category.id)">
				&#10006
			</div>
		</div>	
	</div>
</div>