<div ng-controller="AdminShopAddItemController as vm">
	<div class="add-item-container">
		<h1>Add item to tieto shop</h1>
		<form class="add-item-form">
			<div>
				<md-input-container>
					<label for="add-item-name">Name</label>
					<input type="text" id="add-item-name" ng-model="vm.transferInfo.name">
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label for="add-item-price">Price</label>
					<input type="text" id="add-item-price" ng-model="vm.transferInfo.price">
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label for="add-item-amount">Amount</label>
					<input type="text" id="add-item-amount" ng-model="vm.transferInfo.amount">
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label for="add-item-description">Description</label>
					<input type="text" id="add-item-description" ng-model="vm.transferInfo.description">
				</md-input-container>
			</div>
			<div>
				<label for="add-item-photo">Photo</label>
				<input type="file" id="add-item-photo" accept=".gif, .jpg, .png" ngf-select="vm.selectPhoto()">
				{{ vm.transferInfo.photo }}
			</div>
			<div>
				<input type="submit" value="Add an item">
			</div>
		</form>
	</div>
</div>