<form name="vm.profileEditForm">
	<div class="edit-profile-photo">
		<input name="editProfilePhoto" type="file" id="add-item-photo" accept=".gif, .jpg, .png">
	</div>

	<md-input-container>
		<div class="edit-profile-name">
			<label for="edit-profile-name-input" class="edit-profile-name-label">Name</label>
			<input name="profileEditNameInput"id="edit-profile-name-input" type="text" 
					ng-model="vm.user.firstName" required ng-maxlength="20"
					ng-pattern="/^[a-žA-Ž-. ]*$/">
		</div>
	</md-input-container>
	
	<div ng-messages="vm.profileEditForm.profileEditNameInput.$error">
		<div class="error" ng-message="required">Field is required</div>
		<div class="error" ng-message="maxlength">Too many symbols</div>
		<div class="error" ng-message="pattern">Letters only</div>
	</div>
		
	<md-input-container>
		<div class="edit-profile-lastname">
			<label for="edit-profile-lastname-input" class="edit-profile-lastname-label">Lastname</label>
			<input name="profileEditLastnameInput" id="edit-profile-lastname-input" type="text" ng-model="vm.user.lastName"
					ng-maxlength="30" required ng-pattern="/^[a-žA-Ž-. ]*$/">
		</div>
	</md-input-container>
	
	<div ng-messages="vm.profileEditForm.profileEditLastnameInput.$error">
		<div class="error" ng-message="required">Field is required</div>
		<div class="error" ng-message="maxlength">Too many symbols</div>
		<div class="error" ng-message="pattern">Letters only</div>
	</div>
	
	<div class="edit-profile-password">
		<md-input-container>
			<label for="edit-profile-password-input">Password</label>
			<input type="text" id="edit-profile-password-input" placeholder="Current password">
		</md-input-container>
		<md-input-container>
			<label for="edit-profile-new-password-input">New password</label>
			<input type="text" placeholder="New password">
		</md-input-container>
		<md-input-container>
			<label for="edit-profile-repeat-password-input">Confirm new password</label>
			<input type="text" placeholder="Confirm new password">
		</md-input-container>
	</div>
	
	
	<md-input-container>
		<div class="edit-profile-about-me">
			<label for="edit-profile-about-me" class="edit-profile-about-me-label">About me</label>
			<textarea id="edit-profile-about-me-input" ng-model="vm.user.aboutMe" ></textarea>
		</div>
	</md-input-container>
</form>	
