<form name="vm.profileEditForm">
	<div class="edit-profile-photo">
		<input name="editProfilePhoto" type="file" id="edit-profile-photo" accept=".gif, .jpg, .png">
	</div>

	<md-input-container>
		<div class="edit-profile-name">
			<label for="edit-profile-name-input" class="edit-profile-name-label">Name</label>
			<input name="profileEditNameInput"id="edit-profile-name-input" type="text" 
					ng-model="vm.user.firstName" required ng-maxlength="20"
					ng-pattern="/^[a-žA-Ž-. ]*$/">
		</div>
	</md-input-container>
	
	<div ng-messages="vm.profileEditForm.profileEditNameInput.$error">
		<div class="error" ng-message="required">Field is required</div>
		<div class="error" ng-message="maxlength">Too many symbols</div>
		<div class="error" ng-message="pattern">Letters only</div>
	</div>
		
	<md-input-container>
		<div class="edit-profile-lastname">
			<label for="edit-profile-lastname-input" class="edit-profile-lastname-label">Lastname</label>
			<input name="profileEditLastnameInput" id="edit-profile-lastname-input" type="text" ng-model="vm.user.lastName"
					ng-maxlength="30" required ng-pattern="/^[a-žA-Ž-. ]*$/">
		</div>
	</md-input-container>
	
	<div ng-messages="vm.profileEditForm.profileEditLastnameInput.$error">
		<div class="error" ng-message="required">Field is required</div>
		<div class="error" ng-message="maxlength">Too many symbols</div>
		<div class="error" ng-message="pattern">Letters only</div>
	</div>
	
		
	<md-input-container>
		<div class="edit-profile-about-me">
			<label for="edit-profile-about-me" class="edit-profile-about-me-label">About me</label>
			<textarea id="edit-profile-about-me-input" ng-model="vm.user.aboutMe" ng-maxlength="160" name="aboutMeText"></textarea>
		</div>
	</md-input-container>	
		<div ng-messages="vm.profileEditForm.aboutMeText.$error">
			<div class="error" ng-message="maxlength">Too many symbols (160 max)</div>
		</div>
	
	<div class="edit-profile-password">	
	
		<div class="password-field">
			<md-input-container>
				<label for="edit-profile-password-input">Password</label>
				<input type="password" id="edit-profile-password-input" ng-model="vm.user.oldPassword"
					name="passwordInput"
					ng-maxlength="15"
					ng-minlength="5"
					ng-pattern = "/^(?=.*[0-9])(?=.*[a-zA-Z0-9])([a-zA-Z0-9]+)$/">
			</md-input-container>
			<div ng-messages="vm.profileEditForm.passwordInput.$error" ng-if="vm.profileEditForm.passwordInput.$dirty">
				<div class="error" ng-message="maxlength">Too many symbols</div>
				<div class="error" ng-message="minlength">Too few symbols</div>
				<div class="error" ng-message="pattern">Should contain atleast 1 number</div>
				<div class="error" ng-message="required">Field is required</div>
			</div>
		</div>
		
		<md-input-container>
			<label for="edit-profile-new-password-input">New password</label>
			<input type="password" id="edit-profile-new-password-input" ng-model="vm.user.newPassword"
				name="newPasswordInput"
				ng-maxlength="15"
				ng-minlength="5"
				ng-pattern = "/^(?=.*[0-9])(?=.*[a-zA-Z0-9])([a-zA-Z0-9]+)$/"
				ng-required="vm.user.oldPassword">
		</md-input-container>
		<div ng-messages="vm.profileEditForm.newPasswordInput.$error" ng-if="vm.profileEditForm.newPasswordInput.$dirty">
			<div class="error" ng-message="maxlength">Too many symbols</div>
			<div class="error" ng-message="minlength">Too few symbols</div>
			<div class="error" ng-message="pattern">Should contain atleast 1 number</div>
			<div class="error" ng-message="required">Field is required</div>
		</div>
		<div class="error" ng-show="(vm.user.newPassword === vm.user.oldPassword) &&
	 				vm.profileEditForm.newPasswordInput.$dirty && (vm.user.oldPassword.length > 0)"
					>Cannot match old password</div>
		
		
		<md-input-container>
			<label for="edit-profile-repeat-password-input">Confirm new password</label>
			<input type="password" id="edit-profile-repeat-password-input" ng-model="vm.user.confirmPassword"
				name="passwordConfirmationInput" 
				ng-required="vm.user.oldPassword">
		</md-input-container>
		<div class="error" ng-show="(vm.user.confirmPassword != vm.user.newPassword) &&
	 				vm.profileEditForm.passwordConfirmationInput.$dirty"
					>Confirmation doesn't match</div> 
		<div ng-messages="vm.profileEditForm.passwordConfirmationInput.$error"
		     ng-if="vm.profileEditForm.passwordConfirmationInput.$dirty">
			<div class="error" ng-message="required">Field is required</div>
		</div>
	</div>

	<div class="edit-profile-save">
		<md-button class="md-raised" ng-click="vm.saveChanges()" ng-disabled="vm.profileEditForm.$invalid ||
				(vm.user.oldPassword && ((vm.user.newPassword === vm.user.oldPassword) || 
				(vm.user.confirmPassword != vm.user.newPassword)))">Save changes</md-button>
	</div>
</form>	
